<div class="headers">
  <div mat-dialog-title>{{ "PAGES.ROUTES.EDIT_HEADERS" | translate }}</div>
  <div class="headers__content" mat-dialog-content>
    <div [formGroup]="createHeaderForm" class="headers__content__form">
      <mat-form-field appearance="fill">
        <mat-label>Key</mat-label>
        <input formControlName="key" matInput />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Value</mat-label>
        <input formControlName="value" matInput />
      </mat-form-field>
      <button (click)="createHeader()" mat-button>
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div
      *ngIf="headers && headers.length"
      infiniteScroll
      [maxItems]="maxHeaders"
      [currentItems]="headers.length"
      [itemsPerPage]="20"
      (newPageNeeded)="getHeaders($event, 20)"
      class="headers__content__list"
    >
      <div
        *ngFor="let header of headers; trackBy: trackByHeader"
        class="headers__content__list__item"
      >
        <ng-container *ngIf="editingHeaderForm.value.id !== header.id">
          <mat-form-field>
            <mat-label>Key</mat-label>
            <input [ngModel]="header.key" [disabled]="true" matInput />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Value</mat-label>
            <input [ngModel]="header.value" [disabled]="true" matInput />
          </mat-form-field>
          <button
            [disabled]="isFetchingHeaders"
            (click)="selectEditing(header)"
            mat-button
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            [disabled]="isFetchingHeaders"
            (click)="deleteHeader(header.id)"
            mat-button
          >
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>
        <ng-container
          [formGroup]="editingHeaderForm"
          *ngIf="editingHeaderForm.value.id === header.id"
        >
          <mat-form-field>
            <mat-label>Key</mat-label>
            <input formControlName="key" matInput />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Value</mat-label>
            <input formControlName="value" matInput />
          </mat-form-field>
          <button
            [disabled]="isFetchingHeaders"
            (click)="saveEditing()"
            mat-button
          >
            <mat-icon>save</mat-icon>
          </button>
          <button
            [disabled]="isFetchingHeaders"
            (click)="cancelEditing()"
            mat-button
          >
            <mat-icon>close</mat-icon>
          </button>
        </ng-container>
      </div>
    </div>
    <div *ngIf="headers && !headers.length" class="headers__content__empty">
      <img src="assets/images/undraw_drink_coffee_0asa.svg" />
      <div class="headers__content__empty__info">
        <h3>{{ "PAGES.ROUTES.MISSING_HEADERS" | translate }}</h3>
        <mat-icon
          [matTooltipClass]="'custom-tooltip'"
          [matTooltip]="'PAGES.ROUTES.HEADERS_HINT' | translate"
        >
          info
        </mat-icon>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button (click)="dialogRef.close()" mat-button>
      {{ "ACTIONS.CLOSE" | translate }}
    </button>
  </div>
</div>
