.headers {
  height: 100%;
  display: flex;
  flex-direction: column;
  &__content {
    max-height: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    &__form {
      padding: 16px;
      background-color: var(--soft-gray);
      display: flex;
      align-items: center;
      gap: 12px;

      & > mat-form-field {
        width: 100%;
        min-width: 0;
        margin-bottom: -1.25em;
      }

      & > button {
        height: 52px;
        background-color: var(--alt-color);
      }
    }

    &__list {
      height: 100%;
      overflow: auto;

      &__item {
        padding: 16px;
        display: flex;
        align-items: center;
        gap: 12px;
        border-top: 1px solid var(--disabled-color);

        &:last-child {
          border-bottom: 1px solid var(--disabled-color);
        }

        & > mat-form-field {
          width: 100%;
          min-width: 0;
          margin-bottom: -1.25em;
        }

        & > button {
          background-color: var(--alt-color);
        }
      }
    }
  }
}
