<div *ngLet="route$ | async as route" class="route">
  <div class="route__actions">
    <div class="route__buttons">
      <app-button
        [disabled]="!route"
        size="small"
        backgroundColor="#4088FF"
        color="white"
        borderColor="#4088FF"
        (click)="route && openCreateResponse(route.id)"
        >{{ "COMMON.NEW_RESPONSE" | translate }}</app-button
      >
      <div *ngIf="selectedResponseIds$ | async as selectedIds">
        <app-button
          *ngIf="selectedIds.length"
          [disabled]="!route"
          size="small"
          background="#D32F2F"
          borderColor="#D32F2F"
          color="white"
          (click)="openDeleteSelectedResponses()"
        >
          <span>{{ "ACTIONS.DELETE" | translate }}</span>
          <img alt="delete icon" src="assets/images/icons/bin.svg" />
        </app-button>
      </div>
    </div>

    <div class="route__toggles">
      <app-toggle
        size="mid-small"
        [style.width]="'48px'"
        [checked]="(showResponsesAsList$ | async) === true"
        (click)="toggleResponsesAsList(true)"
      >
        <app-svg-icon
          localPath="/assets/images/icons/event_list.svg"
        ></app-svg-icon>
      </app-toggle>

      <app-toggle
        size="mid-small"
        [style.width]="'48px'"
        [checked]="(showResponsesAsList$ | async) === false"
        (click)="toggleResponsesAsList(false)"
      >
        <app-svg-icon
          localPath="/assets/images/icons/dashboard.svg"
        ></app-svg-icon>
      </app-toggle>
    </div>
  </div>
  <ng-container *ngIf="routes$ | async as routes; else loading">
    <ng-container *ngIf="routes.length; else empty">
      <div
        *ngIf="route$ | async as route; else unselected"
        class="route__responses"
      >
        <ng-container *ngLet="responses$ | async as responses">
          <div
            *ngIf="!(loadingResponses$ | async); else loading"
            class="route__responses__container-grid"
            [class.route__responses__container-list]="
              showResponsesAsList$ | async
            "
          >
            <app-response-list-item
              *ngFor="let response of responses"
              [response]="response"
              (edit)="openCreateResponse(route.id, response.id)"
              (processor)="openLiveMock(response)"
              (enableResponse)="enableResponse(response.id)"
              (delete)="openDeleteResponse(response.id)"
              (config)="openHeaders(response.id)"
              (duplicate)="openDuplicateResponse(response.id)"
              (select)="selectItem($event)"
            ></app-response-list-item>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #empty>
  <div class="route__empty">
    <img src="/assets/images/no-route.svg" alt="" />
    <span>{{ "PAGES.ROUTES.BIT_EMPTY" | translate }}</span>
  </div>
</ng-template>

<ng-template #unselected>
  <div class="route__empty">
    <img src="/assets/images/unselected.svg" alt="" />
    <span>{{ "PAGES.ROUTES.NOT_SELECTED_YET" | translate }}</span>
  </div>
</ng-template>

<ng-template #loading>
  <div class="route__loading">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
