.route {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 72px;
    background-color: #1d1b20;
    border-radius: 16px;
    padding: 0 12px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__toggles {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__responses {
    height: 100%;
    overflow: auto;

    &__container-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(294px, 1fr));
      gap: 20px;
    }

    &__container-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  &__empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 24px;
    overflow: hidden;

    & > img {
      max-height: 100%;
      max-width: 100%;
    }

    & > span {
      font-family: Roboto, sans-serif;
      font-weight: 300;
      font-size: 24px;
      line-height: 28.8px;
      letter-spacing: 0.1px;
      color: white;
    }
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}
