.auth {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    font-family: var(--main-font);
    height: 100%;
    text-align: center;
    row-gap: 30px;
    padding: 30px 0;
    &__form-container {
      width: 80%;
      justify-self: center;
      &__form {
        display: flex;
        flex-direction: column;
        .btn-disabled {
          background-color: var(--disabled-color);
        }
        &__dynamic-btn {
          color: #fff;
          background-color: var(--main-color);
        }
        &__register-btn {
          margin-top: 15px;
          background-color: var(--disabled-color);
        }
      }
    }
    & > img {
      justify-self: center;
      width: 80%;
    }
  }
}
