<ng-container *ngIf="authForm$ | async as form">
  <ng-container *ngIf="{ value: registering$ | async } as registering">
    <div class="auth">
      <div class="auth__box">
        <div class="auth__box__logo">
          <img [routerLink]="['/']" alt="mockos logo" src="assets/logo.svg" />
        </div>
        <span
          [style.font-size.px]="registering.value ? 40 : ''"
          [style.line-height.px]="registering.value ? 40 : ''"
          class="auth__box__title"
          >{{
            registering.value
              ? ("COMMON.REGISTER_NOW" | translate)
              : ("COMMON.HELLOW" | translate)
          }}</span
        >
        <div class="auth__box__content">
          <div class="auth__box__content__form">
            <app-input
              (enterTriggered)="handleSubmit()"
              *ngIf="registering.value"
              [label]="'COMMON.NAME' | translate"
              [control]="form.controls.name"
            ></app-input>
            <app-input
              (enterTriggered)="handleSubmit()"
              [label]="'COMMON.EMAIL' | translate"
              [control]="form.controls.email"
            ></app-input>
            <app-input
              (enterTriggered)="handleSubmit()"
              [label]="'COMMON.PASSWORD' | translate"
              type="password"
              [control]="form.controls.password"
            ></app-input>
            <app-input
              *ngIf="registering.value"
              (enterTriggered)="handleSubmit()"
              [label]="'COMMON.CONFIRM_PASSWORD' | translate"
              type="password"
              [control]="form.controls.repeatPassword"
            ></app-input>
          </div>
          <div class="auth__box__content__actions">
            <app-button
              *ngIf="registering.value"
              [routerLink]="['/auth', 'login']"
              >{{ "ACTIONS.CANCEL" | translate }}</app-button
            >
            <app-button
              (click)="handleSubmit()"
              backgroundColor="#4088FF"
              borderColor="#4088FF"
              color="white"
              >{{
                registering.value
                  ? ("ACTIONS.REGISTER" | translate)
                  : ("ACTIONS.ENTER" | translate)
              }}</app-button
            >
          </div>
          <div *ngIf="!registering.value" class="auth__box__content__info">
            <span>{{ "PAGES.AUTH.NO_ACCOUNT_YET" | translate }}</span>
            <span [routerLink]="['/auth', 'register']">{{
              "PAGES.AUTH.REGISTER" | translate
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
