<app-dialog [title]="'PAGES.ROUTES.LIVE_MOCK_CONFIG' | translate">
  <div class="main-content">
    <div class="main-content__warning">
      <div>
        <img src="/assets/images/icons/star.svg" />
        <span>{{ "PAGES.ROUTES.CODE_FEELING_LOST" | translate }}</span>
      </div>
      <app-button
        backgroundColor="rgb(239, 183, 240)"
        borderColor="rgb(239, 183, 240)"
        color="black"
        size="small"
        (click)="handleBuildPrompt()"
        >{{ "PAGES.ROUTES.BUILD_PROMPT" | translate }}</app-button
      >
    </div>
    <div class="main-content__editor">
      <ngx-monaco-editor
        [formControl]="liveMockForm.controls.code"
        [options]="{ theme: 'vs-dark', language: 'javascript' }"
      ></ngx-monaco-editor>
    </div>
    <div class="main-content__actions">
      <div>
        <app-button
          [style.width.px]="200"
          (click)="liveMockForm.controls.enabled.setValue(false)"
          color="#1D1B20"
          backgroundColor="white"
          borderColor="white"
          *ngIf="liveMockForm.controls.enabled.value"
          >{{ "COMMON.ACTIVE" | translate }}</app-button
        >
        <app-button
          [style.width.px]="200"
          (click)="liveMockForm.controls.enabled.setValue(true)"
          *ngIf="!liveMockForm.controls.enabled.value"
          >{{ "COMMON.ENABLE" | translate }}</app-button
        >
      </div>

      <div>
        <app-button [disabled]="saving" (click)="dialogRef.close()">
          {{ "ACTIONS.CANCEL" | translate }}
        </app-button>
        <app-button
          borderColor="#4088FF"
          backgroundColor="#4088FF"
          color="white"
          [disabled]="saving"
          (click)="handleSave()"
        >
          {{ "COMMON.APPLY" | translate }}
        </app-button>
      </div>
    </div>
  </div>
</app-dialog>
