.members {
  font-family: var(--main-font);
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__header {
    padding: 24px;
    & > h2 {
      margin-bottom: 0;
      & > span {
        color: var(--main-color);
      }
    }
    & > span {
      cursor: pointer;
      width: fit-content;
      display: block;
    }
    &__actions {
      display: flex;
      gap: 12px;
      & > button {
        margin-top: 12px;
        background-color: var(--alt-color);

        &:nth-child(2) {
          background-color: indianred;
        }
      }
    }
  }

  &__body {
    height: 100%;
    overflow: auto;
    padding: 24px;

    &__items {
      display: grid;
      gap: 24px;
      grid-template-columns: 1fr;

      @media (min-width: 500px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
