<div class="members">
  <app-navbar></app-navbar>
  <div *ngIf="project" class="members__header">
    <h2>
      <span>{{ project.name }}</span>
      {{ "COMMON.MEMBERS" | translate | lowercase }}
    </h2>
    <span [routerLink]="['/projects', projectId]">{{
      "PAGES.MEMBERS.GO_BACK" | translate
    }}</span>
    <button (click)="openInviteModal()" mat-button>
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div
    *ngIf="members"
    infiniteScroll
    [maxItems]="maxMembers"
    [currentItems]="members.length"
    [itemsPerPage]="20"
    (newPageNeeded)="getMemberList($event)"
    class="members__body"
  >
    <div class="members__body__items">
      <app-member-card
        [member]="member"
        *ngFor="let member of members"
      ></app-member-card>
    </div>
  </div>
</div>
