<div class="contracts">
  <div class="contracts__code">
    <div class="contracts__code__header">
      <ng-container *ngIf="!areSameContracts">
        <span>
          You are updating:
          <span>{{ parsedRemote?.info?.version ?? "NONE" }}</span>
          -->
          <span>{{ parsedLocal?.info?.version ?? "NONE" }}</span>
        </span>
      </ng-container>
      <ng-container *ngIf="areSameContracts">
        <span>
          Current version -
          <span>{{ parsedRemote?.info?.version ?? "NONE" }}</span>
        </span>
      </ng-container>
      <mat-form-field appearance="fill">
        <mat-select [formControl]="selectedLang">
          <mat-option [value]="language" *ngFor="let language of languages">
            {{ language }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
   <div #editor class="contracts__code__editor"></div>
  </div>
  <div class="contracts__ui">
    <div class="contracts__ui__header">
      <button *ngIf="!areSameContracts" (click)="updateContract()" mat-button>
        <mat-icon>save</mat-icon>
      </button>
    </div>
    <div #swagger class="contracts__ui__content"></div>
  </div>
</div>
