.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  &__info {
    cursor: pointer;
    color: var(--main-color);
    display: flex;
    column-gap: 10px;
    align-items: center;
  }
  &__actions {
    & > button {
      color: black;

      &:last-child {
        color: var(--main-color);
      }
    }
  }
}
