<mat-toolbar class="navbar">
  <div class="navbar__info">
    <img src="assets/icons/drop.svg" /><span routerLink="/">mockos.</span>
    <button mat-button [mat-menu-trigger-for]="menu">
      {{ "COMMON.LANGUAGES" | translate }}
    </button>
    <mat-menu #menu="matMenu">
      <button
        *ngFor="let language of languages"
        (click)="translateService.use(language)"
        mat-menu-item
      >
        {{ language }}
      </button>
    </mat-menu>
  </div>
  <div *ngIf="isLogged !== undefined" class="navbar__actions">
    <button [routerLink]="isLogged ? '/dashboard' : '/auth/login'" mat-button>
      {{ (isLogged ? "ACTIONS.GO_PANEL" : "ACTIONS.LOG_IN") | translate }}
    </button>
    <button (click)="logOut()" *ngIf="isLogged" mat-button>
      {{ "ACTIONS.LOG_OUT" | translate }}
    </button>
  </div>
</mat-toolbar>
