<mat-toolbar class="navbar">
  <div class="navbar__info">
    <img src="assets/icons/drop.svg" /><span routerLink="/">mockos.</span>
    <button mat-button [mat-menu-trigger-for]="menu">
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        *ngFor="let language of languages"
        (click)="changeLanguage(language)"
        mat-menu-item
      >
        {{ language }}
      </button>
    </mat-menu>
  </div>
  <div *ngIf="isLogged !== undefined" class="navbar__actions">
    <button [routerLink]="isLogged ? '/projects' : '/auth/login'" mat-button>
      <mat-icon>{{ (isLogged ? "wysiwyg" : "login")}}</mat-icon>
    </button>
    <button (click)="logOut()" *ngIf="isLogged" mat-button>
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
