<div *ngIf="project" class="project-card" [routerLink]="['/projects', project.id]">
  <img src="assets/icons/drop.svg" />
  <div>
    <div>
      <h4>{{ project.name }}</h4>
      <div>
        {{
          project.forkedProject
            ? ("PAGES.ROUTES.FORKED_FROM" | translate) +
              " " +
              project.forkedProject.name
            : ("COMMON.ORIGIN" | translate)
        }}
      </div>
    </div>
    <span>{{
      project.description ??
        ("PAGES.DASHBOARD.DESCRIPTION_NOT_FOUND" | translate)
    }}</span>
  </div>
  <mat-icon (click)="openEditModal($event)">edit</mat-icon>
  <mat-icon (click)="openDeleteModal($event)">delete</mat-icon>
  /
  <mat-icon (click)="openContractPage($event)">description</mat-icon>
</div>
