.not-found {
  height: 100%;
  font-family: var(--main-font);
  color: var(--main-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > img {
    height: 200px;
    margin-bottom: 20px;
  }
}
