<div class="invitations">
  <app-navbar></app-navbar>
  <div *ngIf="invitations" class="invitations__header">
    <h2>
      <span>Invitations</span>
      {{ "COMMON.MEMBERS" | translate | lowercase }}
    </h2>
    <span routerLink="/projects">{{
      "PAGES.MEMBERS.GO_BACK" | translate
    }}</span>
  </div>
  <div (scroll)="handleScroll($event)" class="invitations__body">
    <div class="invitations__body__items">
      <app-invitation-card
        (selected)="openAcceptModal(invitation)"
        [invitation]="invitation"
        *ngFor="let invitation of invitations"
      ></app-invitation-card>
    </div>
  </div>
</div>
