.invitations {
  font-family: var(--main-font);
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    padding: 24px;
    & > h2 {
      margin-bottom: 0;
      & > span {
        color: var(--main-color);
      }
    }
    & > span {
      cursor: pointer;
      width: fit-content;
      display: block;
    }
  }

  &__body {
    height: 100%;
    overflow: auto;
    padding: 24px;

    &__items {
      display: grid;
      gap: 24px;
      grid-template-columns: 1fr;

      @media (min-width: 500px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__empty {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
    padding: 36px;

    & > img {
      height: 200px
    }

    & > h1 {
      & > span {
        animation: rainbow_animation 5s linear 0s infinite;
      }
    }
  }
}

@keyframes rainbow_animation {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #2bbb39;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}
