<div class="versions">
  <h1 mat-dialog-title>{{ "PAGES.CONTRACTS.VERSION_LIST" | translate }}</h1>
  <div mat-dialog-content>
    <div *ngIf="contracts" class="versions__content">
      <div class="versions__content__empty" *ngIf="!contracts.length">
        <span>{{ "PAGES.CONTRACTS.NO_PREVIOUS_VERSION" | translate }}</span>
      </div>
      <div
        class="versions__content__infinite"
        infiniteScroll
        [currentItems]="contracts.length"
        [itemsPerPage]="20"
        [maxItems]="maxContracts"
        (newPageNeeded)="handlePageChange($event)"
        *ngIf="contracts.length"
      >
        <mat-selection-list [multiple]="false">
          <mat-list-option
            (click)="dialogRef.close(version)"
            *ngFor="let version of contracts"
            class="versions__content__infinite__version"
          >
            <span mat-line>{{ version.version }}</span>
            <span mat-line>
              <span>{{ "COMMON.UPDATED_AT" | translate }}: </span>
              {{ version.created_at | date : "yyyy-MM-dd - HH:mm" }}
            </span>
            <span mat-line>
              <span>{{ "COMMON.AUTHOR" | translate }}: </span>
              {{ version.author?.name ?? "[deleted]" }}
            </span>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
    <div *ngIf="!contracts" class="versions__loading">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
  </div>
  <div mat-dialog-actions>
    <button (click)="dialogRef.close()" mat-button>
      {{ "ACTIONS.CLOSE" | translate }}
    </button>
  </div>
</div>
