<div class="versions">
  <h1 mat-dialog-title>Listado de versiones</h1>
  <div mat-dialog-content>
    <div *ngIf="contracts" class="versions__content">
      <div class="versions__content__empty" *ngIf="!contracts.length">
        <span>No hay versiones anteriores</span>
      </div>
      <div
        class="versions__content__infinite"
        infiniteScroll
        [currentItems]="contracts.length"
        [itemsPerPage]="20"
        [maxItems]="maxContracts"
        (newPageNeeded)="handlePageChange($event)"
        *ngIf="contracts.length"
      >
        <mat-selection-list [multiple]="false">
          <mat-list-option *ngFor="let version of contracts">
            <span mat-line>{{ version.version }}</span>
            <span mat-line>{{ version.created_at | date : "yyyy-MM-dd" }}</span>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
    <div *ngIf="!contracts" class="versions__loading">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
  </div>
  <div mat-dialog-actions>
    <button (click)="dialogRef.close()" mat-button>
      {{ "ACTIONS.CLOSE" | translate }}
    </button>
  </div>
</div>
