.user {
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  overflow: auto;
  padding: 24px;
  box-sizing: border-box;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 12px;

    & > h2 {
      margin: 0;
    }

    & > button {
      background-color: var(--main-color);
      color: white;
      width: fit-content;
    }

    & > mat-form-field {
      width: 50%;

      &::ng-deep {
        .mat-form-field-wrapper {
          padding-bottom: 1em;
        }
      }

      @media (max-width: 1000px) {
        width: 100%;
      }
    }
  }
}
