.route-list-item {
  position: relative;
  padding: 16px;
  border-bottom: 1px solid var(--disabled-color);
  background-color: white;

  & > div {
    display: flex;
    align-items: center;
    gap: 12px;

    & > div {
      height: 8px;
      width: 8px;
      border-radius: 25px;
      background-color: red;
    }
  }

  app-http-chip {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  h4, p {
    margin-bottom: 0;
  }

  & > p {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 52px;
  }

  &__placeholder {
    height: 77px;
    background-color: lightgray;
  }
}

.height-fit {
  height: fit-content !important;
}
