.badge {
  padding: 2px 8px;
  color: white;
  border-radius: 25px;
  width: fit-content;
}

.get {
  background-color: #009cde;
}

.post {
  background-color: #00b680;
}

.delete {
  background-color: #da5d95;
}

.put {
  background-color: #696fd7;
}

.patch {
  background-color: #696fd7;
}
