<div class="compare">
  <h1 mat-dialog-title>Merge contract changes</h1>
  <div mat-dialog-content>
    <ngx-monaco-diff-editor
      *ngIf="originalModel && modifiedModel"
      [originalModel]="originalModel"
      [modifiedModel]="modifiedModel"
      [options]="{ theme: 'vs-dark', glyphMargin: true, renderSideBySide: true }"
    ></ngx-monaco-diff-editor>
  </div>
  <div mat-dialog-actions>
    <div>
      <button mat-button>
        {{ "ACTIONS.KEEP_LEFT" | translate }}
      </button>
      <button mat-button>
        {{ "ACTIONS.KEEP_RIGHT" | translate }}
      </button>
    </div>
    <div>
      <button mat-button mat-dialog-close>
        {{ "ACTIONS.MERGE_LATER" | translate }}
      </button>
      <button mat-button>
        {{ "ACTIONS.SAVE" | translate }}
      </button>
    </div>
  </div>
</div>
