<div class="compare">
  <h1 mat-dialog-title>Merge contract changes</h1>
  <div mat-dialog-content>
    <div class="compare__header">
      <div>a</div>
      <div>b</div>
    </div>
    <ngx-monaco-diff-editor
      *ngIf="initialOriginalModel && initialModifiedModel"
      [originalModel]="initialOriginalModel"
      [modifiedModel]="initialModifiedModel"
      [options]="{ theme: 'vs-dark', glyphMargin: true, renderSideBySide: true }"
      (modifiedChanged)="updatedModifiedModel = $event"
    ></ngx-monaco-diff-editor>
  </div>
  <div mat-dialog-actions>
    <div>
      <button (click)="dialogRef.close(initialOriginalModel.code)" mat-button>
        {{ "ACTIONS.KEEP_LEFT" | translate }}
      </button>
      <button (click)="dialogRef.close(updatedModifiedModel)" mat-button>
        {{ "ACTIONS.KEEP_RIGHT" | translate }}
      </button>
    </div>
    <div>
      <button (click)="dialogRef.close()" mat-button mat-dialog-close>
        {{ "ACTIONS.MERGE_LATER" | translate }}
      </button>
      <button (click)="dialogRef.close(updatedModifiedModel)" mat-button>
        {{ "ACTIONS.SAVE" | translate }}
      </button>
    </div>
  </div>
</div>
