<div
  [ngClass]="{
    isMobileSelected: isMobile && selectedRoute,
    isMobileUnselected: isMobile && !selectedRoute
  }"
  class="routes"
>
  <div *ngIf="!isMobile || (isMobile && !selectedRoute)" class="routes__list">
    <div class="routes__list__actions">
      <div class="routes__list__actions__wrapper">
        <button (click)="openCreateModal()" mat-button>
          <mat-icon>add</mat-icon>
        </button>
        <button [routerLink]="['/projects', projectId, 'members']" mat-button>
          <mat-icon>person</mat-icon>
        </button>
        <button (click)="openForkModal()" mat-button>
          <img src="assets/icons/source-control.svg" />
        </button>
        <button (click)="openTokensModal(projectId)" mat-button>
          <mat-icon>key</mat-icon>
        </button>
        <a
          href="https://docs.mockos.io/docs/projects/endpoint/"
          target="_blank"
          mat-button
        >
          <mat-icon>question_mark</mat-icon>
        </a>
      </div>
    </div>
    <div class="routes__list__search">
      <mat-form-field appearance="fill">
        <mat-label>{{ "PAGES.ROUTES.SEARCH_ROUTES" | translate }}</mat-label>
        <input [formControl]="search" matInput />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div
      *ngIf="routes"
      (cdkDropListDropped)="handleSort($event)"
      cdkDropList
      [cdkDropListDisabled]="isMobile"
      infiniteScroll
      [maxItems]="maxRoutes"
      [currentItems]="routes.length"
      [itemsPerPage]="20"
      (newPageNeeded)="getRoutes($event, 20)"
      class="routes__list__items"
    >
      <ng-container *ngFor="let route of routes; trackBy: trackByRoute">
        <app-route-list-item
          *ngIf="!route.is_folder"
          (click)="selectRoute(route)"
          [route]="route"
          [isSelected]="route.id === selectedRoute?.id"
        ></app-route-list-item>
      </ng-container>
    </div>
  </div>
  <div *ngIf="!isMobile || (isMobile && selectedRoute)" class="routes__info">
    <app-route-info
      *ngIf="selectedRoute"
      (updatedRoute)="updateRoute($event)"
      (back)="selectedRoute = undefined"
      [route]="selectedRoute"
    ></app-route-info>
    <div *ngIf="!selectedRoute" class="routes__info__missing">
      <h4>{{ "PAGES.ROUTES.SELECT_ROUTE" | translate }}</h4>
    </div>
  </div>
</div>
