<div class="routes">
  <app-navbar></app-navbar>
  <div class="routes__body">
    <div class="routes__body__list">
      <div class="routes__body__list__actions">
        <button (click)="openCreateModal()" mat-button>
          <mat-icon>add</mat-icon>
        </button>
        <button [routerLink]="['/projects', projectId, 'members']" mat-button>
          <mat-icon>person</mat-icon>
        </button>
      </div>
      <div
        *ngIf="routes"
        (cdkDropListDropped)="handleSort($event)"
        cdkDropList
        infiniteScroll
        [maxItems]="maxRoutes"
        [currentItems]="routes.length"
        [itemsPerPage]="20"
        (newPageNeeded)="getRoutes($event, 20)"
        class="routes__body__list__items"
      >
        <app-route-list-item
          (click)="selectRoute(route)"
          *ngFor="let route of routes"
          [route]="route"
        ></app-route-list-item>
      </div>
    </div>
    <div class="routes__body__info">
      <div
        [formGroup]="selectedRoute"
        *ngIf="selectedRoute"
        class="routes__body__info__selected"
      >
        <div class="routes__body__info__selected__info">
          <div>
            <h2>{{ selectedRoute.value.name }}</h2>
            <app-http-chip
              [method]="selectedRoute.value.method"
            ></app-http-chip>
            <mat-icon (click)="openDeleteModal(selectedRoute.value)"
              >delete</mat-icon
            >
          </div>
          <mat-slide-toggle
            (change)="updateRoute()"
            formControlName="enabled"
          ></mat-slide-toggle>
        </div>
        <mat-form-field>
          <input (blur)="updateRoute()" formControlName="endpoint" matInput />
        </mat-form-field>
        <h2>Responses</h2>
        <div
          *ngIf="responses"
          infiniteScroll
          [maxItems]="maxResponses"
          [currentItems]="responses.length"
          [itemsPerPage]="20"
          (newPageNeeded)="getResponses($event)"
          class="routes__body__info__selected__responses"
        >
          <div>
            <app-response-list-item
              [response]="response"
              *ngFor="let response of responses"
            ></app-response-list-item>
          </div>
        </div>
      </div>
      <div *ngIf="!selectedRoute" class="routes__body__info__missing">
        <h4>{{ "PAGES.ROUTES.SELECT_ROUTE" | translate }}</h4>
      </div>
    </div>
  </div>
</div>
