.routes {
  display: flex;
  flex-direction: column;
  height: 100vh;
  &__body {
    height: 100%;
    display: flex;
    &__list {
      height: 100%;
      overflow: auto;
      width: 400px;
      border-right: 1px solid var(--disabled-color);

      &__actions {
        position: sticky;
        top: 0;
        background-color: var(--main-color);
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 12px;

        & > button {
          background-color: var(--alt-color);
        }
      }
    }
    &__info {
      height: 100%;
      width: 100%;

      &__selected {
        & > div {
          display: flex;
          justify-content: space-between;
          & > div {
            display: flex;
            align-items: center;
            gap: 16px;
            
            & > mat-icon {
              cursor: pointer;
            }
            
            & > h2 {
              margin: 0;
            }
          }
        }

        & > mat-form-field {
          width: 100%;
        }
      }

      & > div {
        padding: 24px;
        box-sizing: border-box;
        overflow: auto;
      }

      &__missing {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
