.home {
  display: flex;
  height: 100vh;
  flex-direction: column;
  &__banner {
    height: 100%;
    display: flex;
    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 50px;
      text-align: center;
      & > h1 {
        & > span {
          color: var(--main-color);
        }
        font-family: var(--main-font);
      }
      & > img {
        width: 80%;
      }
    }
  }
}
