.home {
  &__header {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    transition: all 300ms ease-in-out;
    padding: 0 48px;
    box-sizing: border-box;
    overflow: hidden;

    &__background {
      top: 0;
      left: 0;
      position: absolute;
      background: url("/assets/images/background.webp");
      background-position: center center;
      background-size: cover;
      height: 100%;
      width: 100%;
      animation: 30s zoom ease-out;
      animation-fill-mode: forwards;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 60px;
      height: 100%;
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;

      &__logo {
        max-width: 80vw;
        width: 700px;
      }

      &__action {
        width: 20%;
        max-width: 96px;
        animation: 2s shake ease-in-out infinite;
      }
    }
  }

  &__content {
    padding: 0 48px 48px 48px;

    &__container {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 1440px;
      gap: 110px;
      margin: 0 auto;

      &__hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 0 40px 0;
        gap: 73px;

        @media (max-width: 1250px) {
          padding: 45px 0;
          gap: 25px;
        }

        & > h1 {
          margin: 0;
          font-family: Michroma, "sans-serif";
          font-weight: 400;
          color: white;
          text-align: center;
          font-size: 56px;
          line-height: 66.4px;
          letter-spacing: 3%;

          @media (max-width: 1250px) {
            font-size: 36px;
            line-height: 46.4px;
          }
        }

        & > h2 {
          margin: 0;
          font-family: Roboto, "sans-serif";
          color: white;
          font-size: 24px;
          font-weight: 300;
          letter-spacing: 0.1px;
          text-align: center;
          max-width: 875px;

          @media (max-width: 1250px) {
            font-size: 18px;
          }
        }
      }

      &__section {
        display: flex;
        align-items: center;
        gap: 56px;
        max-height: 535px;

        @media (max-width: 1250px) {
          flex-direction: column;
          gap: 70px;
        }

        &:nth-child(odd) {
          flex-direction: row-reverse;

          @media (max-width: 1250px) {
            flex-direction: column;
            gap: 12px;
          }

          & > div {
            text-align: end;
          }
        }

        & > img {
          max-height: 465px;
        }

        & > div {
          display: flex;
          flex-direction: column;
          gap: 45px;
          width: 100%;

          @media (max-width: 1250px) {
            gap: 12px;
          }

          & > h3 {
            margin: 0;
            font-family: Roboto, "sans-serif";
            color: white;
            font-size: 32px;
            font-weight: 700;
            letter-spacing: 0.1px;
            line-height: 32px;

            @media (max-width: 1250px) {
              font-size: 24px;
              line-height: 24px;
              text-align: center;
            }
          }

          & > h4 {
            margin: 0;
            font-family: Roboto, "sans-serif";
            color: white;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 0.1px;

            @media (max-width: 1250px) {
              font-size: 14px;
              text-align: center;
            }
          }
        }

        & > img {
          max-height: 535px;
          max-width: 100%;

          @media (max-width: 1250px) {
            gap: 12px;
            max-height: 435px;
          }
        }
      }

      &__section__special {
        & > img {
          transform: scale(1.5);
          z-index: -1;
          max-height: 844px;

          @media (max-width: 1250px) {
            max-height: 465px;
          }
        }
      }

      &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 35px;

        @media (max-width: 1250px) {
          gap: 12px;
        }

        & > h2 {
          margin: 0;
          text-align: center;
          font-family: "Roboto", sans-serif;
          font-weight: 700;
          font-size: 32px;
          letter-spacing: 0.1px;
          line-height: 32px;
          color: white;
          max-width: 790px;

          @media (max-width: 1250px) {
            font-size: 24px;
            line-height: 24px;
          }
        }

        & > h3 {
          margin: 0;
          text-align: center;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-size: 16px;
          line-height: 19.2px;
          letter-spacing: 0.1px;
          color: white;
          max-width: 557px;

          @media (max-width: 1250px) {
            font-size: 14px;
            line-height: 24px;
          }
        }

        & > img {
          width: 100%;
        }

        & > div {
          display: flex;
          align-items: center;
          gap: 20px;

          @media (max-width: 750px) {
            display: none;
          }

          & > span {
            font-size: 24px;
            font-weight: 300;
            line-height: 24px;
            letter-spacing: 0.1px;
            color: white;
          }
        }
      }
    }
  }
}

.sticky {
  flex-direction: row;
  justify-content: flex-start;
  gap: 0;
  height: 70px;
  position: sticky;
  top: 0;

  & .home__header__content {
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 auto;
  }

  & .home__header__content__logo {
    width: 140px;
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.4);
  }
}

@keyframes shake {
  0% {
    transform: translateY(0%);
  }

  25% {
    transform: translateY(-25%);
  }

  50% {
    transform: translateY(25%);
  }

  100% {
    transform: translateY(0);
  }
}
