<div #home class="home">
  <div class="home__header" [class.sticky]="true">
    <div class="home__header__background"></div>
    <div auto-animate class="home__header__content">
      <img
        class="home__header__content__logo"
        src="/assets/logo.svg"
        alt="mockos logo"
      />
    </div>
  </div>
  <div class="home__content">
    <div class="home__content__container">
      <div class="home__content__container__hero">
        <h1 innerHTML="{{ 'PAGES.HOME.HEADER_1' | translate }}"></h1>
        <h2>
          {{ "PAGES.HOME.HEADER_2" | translate }}
        </h2>
        <app-button
          [routerLink]="['/auth', 'login']"
          borderColor="#131218"
          color="black"
          background="radial-gradient(100% 400.13% at 0% 0%, #182767 0%, #536DBF 22.66%, #EFB7F0 86.31%, #F1F0FA 100%)"
          >{{ "PAGES.HOME.START_RIGHT_NOW_BTN" | translate }}</app-button
        >
      </div>
      <div class="home__content__container__section">
        <div>
          <h3>
            {{ "PAGES.HOME.SECTIONS.CREATE.TITLE" | translate }}
          </h3>
          <h4>
            {{ "PAGES.HOME.SECTIONS.CREATE.DESCRIPTION" | translate }}
          </h4>
        </div>
        <img src="/assets/images/screenshots/edit-responses.webp" alt="" />
      </div>
      <div
        class="home__content__container__section home__content__container__section__special"
      >
        <div>
          <h3>
            {{ "PAGES.HOME.SECTIONS.COMPARE.TITLE" | translate }}
          </h3>
          <h4>
            {{ "PAGES.HOME.SECTIONS.COMPARE.DESCRIPTION" | translate }}
          </h4>
        </div>
        <img src="/assets/images/screenshots/compare-responses.svg" alt="" />
      </div>
      <div
        class="home__content__container__section home__content__container__section__special"
      >
        <div>
          <h3>
            {{ "PAGES.HOME.SECTIONS.INVITE.TITLE" | translate }}
          </h3>
          <h4>
            {{ "PAGES.HOME.SECTIONS.INVITE.DESCRIPTION" | translate }}
          </h4>
        </div>
        <img src="/assets/images/screenshots/invite-members.svg" alt="" />
      </div>
      <div class="home__content__container__main">
        <h2>
          {{ "PAGES.HOME.SECTIONS.BRANCH.TITLE" | translate }}
        </h2>
        <h3>
          {{ "PAGES.HOME.SECTIONS.BRANCH.DESCRIPTION" | translate }}
        </h3>
        <img src="/assets/images/screenshots/screen.webp" alt="" />
        <div>
          <span> {{ "PAGES.HOME.PRESS" | translate }}</span>
          <img src="/assets/images/icons/m-key.svg" alt="" />
          <span> {{ "PAGES.HOME.ACCESS_NOW" | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
