.home {
  &__content {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    padding: 50px 0;
    gap: 50px;

    & > div {
      max-width: 2000px;
    }

    &__section {
      text-align: center;
      padding: 0 50px;

      &:last-child {
        & > img {
          height: 50px;
        }
      }

      & > h1 {
        & > span {
          color: var(--main-color);
        }
        font-family: var(--main-font);
      }

      & > img {
        height: 200px;
      }
    }

    &__row {
      display: flex;
      flex-direction: row;

      &:nth-child(even) {
        flex-direction: row-reverse;

        @media (max-width: 1000px) {
          flex-direction: column;
          gap: 24px;
        }
      }

      @media (max-width: 1000px) {
        flex-direction: column;
        gap: 24px;
      }

      &__column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        & > * {
          width: 70%;
          text-align: center;
        }
        ::ng-deep {
          h1 {
            & > span {
              color: var(--main-color);
            }
          }
        }

        & > h1 {
          font-family: var(--main-font);
          text-align: center;
        }

        & > img {
          border: 1px solid var(--main-color);
          border-radius: 12px;
        }
      }
    }
  }
}
