<div class="home">
  <app-navbar></app-navbar>
  <div class="home__content">
    <div class="home__content__section">
      <img src="assets/icons/drop.svg" />
    </div>
    <div class="home__content__section">
      <h1>
        {{ "COMMON.BUILD" | translate }}
        <span>{{ "COMMON.MOCKS" | translate }}</span>
        {{ "PAGES.HOME.FOR_YOUR_API" | translate }}
        <span>{{ "PAGES.HOME.NO_CODE_NO_CONF" | translate }}</span>
      </h1>
      <h3>
        {{ "PAGES.HOME.DESCRIPTION" | translate }}
      </h3>
      <button
        *ngIf="isLogged !== undefined"
        [routerLink]="isLogged ? '/projects' : '/auth/login'"
        mat-button
      >
        {{ "ACTIONS.START_NOW" | translate }}
      </button>
    </div>
    <div class="home__content__row">
      <div class="home__content__row__column">
        <img src="assets/images/screenshots/edit-response.png" />
      </div>
      <div class="home__content__row__column">
        <h1>
          <span>Simple</span> yet <span>complete</span> way to mock
          <span>JSON and File responses</span>
        </h1>
        <h3>
          Allow to edit JSON with a simple and error proof editor. You also can
          upload files of up to 8MB (configurable)
        </h3>
      </div>
    </div>
    <div class="home__content__row">
      <div class="home__content__row__column">
        <img src="assets/images/gifs/comparing-responses.gif" />
      </div>
      <div class="home__content__row__column">
        <h1>
          <span>Truly reactive</span> and
          <span>collaborative</span> functionality,
          <span>no messy files involved</span>
        </h1>
        <h3>
          There is not a need to share and maintain ugly config files anymore,
          stay agile even when it comes to mocking APIs
        </h3>
      </div>
    </div>
    <div class="home__content__row">
      <div class="home__content__row__column">
        <img src="assets/images/gifs/inviting-user.gif" />
      </div>
      <div class="home__content__row__column">
        <h1>
          <span>Invite your friends </span> to the party!
          <span>They might not accept</span> your request tho...
        </h1>
        <h3>
          Mocking is tough, but way easier and funnier with friends and
          colleagues! Make use of Mockos fully featured friends system!
        </h3>
      </div>
    </div>
    <div class="home__content__row">
      <div class="home__content__row__column">
        <img src="assets/images/gifs/forking-project.gif" />
      </div>
      <div class="home__content__row__column">
        <h1>
          <span>Not feeling social?</span> We got you covered! Just
          <span>branch and work on your own</span>
        </h1>
        <h3>
          Are you are introducing changes that might break someone's code?
          Create a branch of the project and merge back when you are ready.
        </h3>
      </div>
    </div>
    <div class="home__content__section">
      <img src="assets/icons/drop.svg" />
      <h1>Easier than <span>"sacarse los mockos"</span></h1>
    </div>
  </div>
</div>
