<div class="home">
  <app-navbar></app-navbar>
  <div class="home__banner">
    <div>
      <img src="assets/images/undraw_building_blocks_re_5ahy.svg" />
    </div>
    <div>
      <h1>
        Construye <span>mocks</span> de tu API
        <span>sin código ni ficheros de configuración</span>
      </h1>
      <h3>
        Mockos es una herramienta útil y práctica para desarrolladores que
        buscan probar sus aplicaciones y sitios web con mocks de APIs
        personalizadas, de manera colaborativa y sin necesidad de instalar nada
        en su ordenador.
      </h3>
      <button mat-button>¡Comienza ahora!</button>
    </div>
  </div>
</div>
