.response-card {
  padding: 20px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  & > img {
    width: 50px;
  }

  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    & > h4 {
      margin: 0;
    }

    & > span {
      color: var(--main-color);
    }
  }

  &__actions {
    display: flex;
    gap: 8px;
    width: fit-content;

    & > mat-icon {
      cursor: pointer;
    }
  }
}

.enabled {
  border: 4px var(--main-color) solid;
}

.disabled {
  border: 4px var(--disabled-color) solid;
}
