.response {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 153px;
  width: 100%;
  background-color: #1d1b20;
  border-radius: 16px;
  padding: 20px 24px;
  box-sizing: border-box;
  cursor: pointer;

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__icons {
      display: flex;
      align-items: center;
      flex-shrink: 1;
      gap: 16px;

      &__badge {
        display: flex;
        align-items: center;

        & span {
          content: none;
          height: 6px;
          width: 6px;
          right: -3px !important;
          top: 0;
          background-color: #41cdbc !important;
          color: #41cdbc !important;
        }

        &--invisible span {
          display: none;
        }
      }
    }

    & > img {
      cursor: pointer;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & > span {
      font-family: Roboto, sans-serif;

      &:first-child {
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.1px;
        color: #4088ff;
      }

      &:last-child {
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 0.1px;
        color: white;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  &__actions__menu {
    max-width: 280px;
    width: 155px;
    background-color: #2d2b30;
    border-radius: 12px;
    padding: 16px 0 8px 0;
    display: flex;
    flex-direction: column;

    & app-button {
      padding: 0 16px 8px 16px;
    }

    ::ng-deep {
      & button {
        border: none;
        height: 40px;
      }
    }

    &__item {
      display: flex;
      align-items: center;
      height: 48px;
      font-family: Roboto;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.5px;
      color: #cac4d0;
      cursor: pointer;
      padding: 0 16px;

      &--disabled {
        pointer-events: none;
        color: #4f4b54;

        & img {
          opacity: 0.3;
        }
      }

      &:hover {
        background-color: #1d1b20;
      }

      & span {
        margin-left: 16px;
      }
    }
  }
}

.response-list {
  width: 100%;
  height: 80px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  background-color: #1d1b20;
  border: 1px solid #cac4d01a;
  box-sizing: border-box;
  border-radius: 16px;
  font-family: Roboto, sans-serif;
  cursor: pointer;

  &__content {
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 24px;

    &__name {
      font-weight: 900;
      font-size: 26px;
      line-height: 26px;
      letter-spacing: 0.1px;
      color: white;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__status {
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 0.1px;
      color: #4088ff;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    flex-shrink: 1;
    gap: 16px;

    &__badge {
      display: flex;
      align-items: center;

      & span {
        content: none;
        height: 6px;
        width: 6px;
        right: -3px !important;
        top: 0;
        background-color: #41cdbc !important;
        color: #41cdbc !important;
      }

      &--invisible span {
        display: none;
      }
    }

    & > img {
      cursor: pointer;
    }
  }
}

.selected {
  background-color: #4088ff;

  & > .response__info {
    & > span {
      &:first-child {
        color: white;
      }
    }
  }
}
