<div class="projects">
  <ng-container *ngIf="projects$ | async as data; else loading">
    <div class="projects__filters">
      <span> {{ "COMMON.FILTER" | translate }}</span>
      <div class="projects__filters__section">
        <span> {{ "COMMON.SORTED" | translate }}</span>
        <app-checkbox-group [formControl]="filters.controls.sort">
          <div class="projects__filters__section__list">
            <div class="projects__filters__section__list__option">
              <app-checkbox value="created_at"></app-checkbox>
              <span> {{ "COMMON.BY_CREATION_DATE" | translate }}</span>
            </div>
            <div class="projects__filters__section__list__option">
              <app-checkbox value="name"></app-checkbox>
              <span> {{ "COMMON.ALPHABETIC" | translate }}</span>
            </div>
            <div class="projects__filters__section__list__option">
              <app-checkbox value="updated_at"></app-checkbox>
              <span> {{ "COMMON.RECENT" | translate }}</span>
            </div>
          </div>
        </app-checkbox-group>
      </div>
      <div class="projects__filters__section">
        <span> {{ "COMMON.TYPE" | translate }}</span>
        <app-checkbox-group [formControl]="filters.controls.onlyBranches">
          <div class="projects__filters__section__list">
            <div class="projects__filters__section__list__option">
              <app-checkbox value="false"></app-checkbox>
              <span> {{ "COMMON.ORIGINAL" | translate }}</span>
            </div>
            <div class="projects__filters__section__list__option">
              <app-checkbox value="true"></app-checkbox>
              <span> {{ "COMMON.BRANCHING" | translate }}</span>
            </div>
          </div>
        </app-checkbox-group>
      </div>
      <div
        class="projects__filters__section projects__filters__section--expanded"
      >
        <div class="projects__filters__section__actions">
          <app-button (click)="resetFilters()">
            {{ "COMMON.DELETE_FILTERS" | translate }}</app-button
          >
        </div>
      </div>
    </div>
    <ng-container *ngIf="data.total; else empty">
      <div class="projects__list">
        <div class="projects__list__header">
          <div class="projects__list__header__buttons">
            <app-button
              size="mid-small"
              (click)="selectProjects(data.projects)"
            >
              {{ "COMMON.SELECT_ALL" | translate }}</app-button
            >
            <app-button size="mid-small" (click)="selectProjects([])">
              {{ "COMMON.DESELECTION_ALL" | translate }}</app-button
            >

            <app-button
              [style.width]="'48px'"
              size="mid-small"
              [disabled]="!selectedProjects.size"
              (click)="openDeleteMultipleModal()"
            >
              <img src="/assets/images/icons/bin.svg"
            /></app-button>
          </div>

          <div class="projects__list__header__toggles">
            <app-toggle
              size="mid-small"
              [style.width]="'48px'"
              [checked]="(showProjectsAsList$ | async) === true"
              (click)="toggleProjectsAsList(true)"
            >
              <app-svg-icon
                localPath="/assets/images/icons/event_list.svg"
              ></app-svg-icon>
            </app-toggle>

            <app-toggle
              size="mid-small"
              [style.width]="'48px'"
              [checked]="(showProjectsAsList$ | async) === false"
              (click)="toggleProjectsAsList(false)"
            >
              <app-svg-icon
                localPath="/assets/images/icons/dashboard.svg"
              ></app-svg-icon>
            </app-toggle>
          </div>
        </div>
        <div
          class="projects__list__grid"
          [class.projects__list__grid--list]="showProjectsAsList$ | async"
        >
          <app-project-card
            *ngFor="let project of data.projects"
            [project]="project"
            (edit)="openCreateModal(project)"
            (delete)="openDeleteModal(project)"
            [isSelected]="selectedProjects.has(project.id)"
            (selected)="
              $event
                ? selectedProjects.add(project.id)
                : selectedProjects.delete(project.id)
            "
          ></app-project-card>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #empty>
  <div class="empty">
    <img alt="no projects" src="assets/images/no-projects.svg" />
    <span *ngIf="filters.controls.onlyBranches.value">
      {{ "PAGES.PROJECTS.NO_AVAILABLE_BRANCHES" | translate }}
    </span>
    <span *ngIf="!filters.controls.onlyBranches.value">
      {{ "PAGES.PROJECTS.CREATE_NEW_PROJECT" | translate }}
    </span>
    <app-button
      *ngIf="!filters.controls.onlyBranches.value"
      (click)="openCreateModal()"
      size="small"
      color="white"
      borderColor="#4088FF"
      backgroundColor="#4088FF"
    >
      {{ "PAGES.PROJECTS.CREATE_PROJECR" | translate }}</app-button
    >
  </div>
</ng-template>

<ng-template #loading>
  <div class="loading">
    <mat-spinner color="primary"></mat-spinner>
  </div>
</ng-template>

<ng-template #actions>
  <div>
    <app-button
      (click)="openCreateModal()"
      size="small"
      color="white"
      borderColor="#4088FF"
      backgroundColor="#4088FF"
    >
      <img src="/assets/images/icons/add.svg" />
      {{ "COMMON.NEW" | translate }}
    </app-button>
  </div>
</ng-template>
