.projects {
  height: 100%;
  padding: 12px 28px 28px 28px;
  display: flex;
  gap: 20px;
  box-sizing: border-box;

  &__filters {
    display: flex;
    flex-direction: column;
    background-color: #1d1b20;
    border-radius: 16px;
    padding: 24px;
    min-width: 254px;
    gap: 48px;
    overflow: auto;
    user-select: none;

    & > span {
      color: white;
      font-weight: 500;
      font-size: 24px;
    }

    &__section {
      display: flex;
      flex-direction: column;
      gap: 28px;

      &--expanded {
        flex-grow: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }

      & > span {
        color: white;
        font-weight: 300;
        font-size: 16px;
      }

      &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &__option {
          display: flex;
          align-items: center;
          gap: 20px;

          & > input {
            width: 18px;
            height: 18px;
            margin: 0;
            accent-color: #4088ff;
          }

          & > span {
            font-weight: 300;
            font-size: 16px;
            color: white;
          }
        }
      }

      &__actions {
        display: flex;
        gap: 12px;

        & > app-button {
          width: 100%;
        }
      }
    }
  }

  &__list {
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;

    &__header {
      width: 100%;
      height: 72px;
      min-height: 72px;
      background-color: #1d1b20;
      padding: 0 12px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;

      &__buttons {
        display: flex;
        align-items: center;
        gap: 12px;
      }

      &__toggles {
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }

    &__grid {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(auto-fill, minmax(294px, 1fr));

      &--list {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        flex-grow: 1;
      }
    }
  }
}

.loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 24px;

  & > img {
    width: 530px;
    max-width: 30%;
  }

  & > span {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: white;
  }
}
