<div class="dashboard">
  <div class="dashboard__banner">
    <h1>{{ "PAGES.DASHBOARD.YOUR_PROJECTS" | translate }}</h1>
    <div>
      <button mat-button (click)="openCreateModal()">
        <mat-icon>add</mat-icon>
      </button>
      <button
        mat-button
        [matBadge]="invitationNumber"
        routerLink="/invitations"
      >
        <mat-icon>person</mat-icon>
      </button>
    </div>
  </div>
  <div
    *ngIf="projects"
    infiniteScroll
    [maxItems]="maxProjects"
    [itemsPerPage]="20"
    [currentItems]="projects.length"
    (newPageNeeded)="getProjects($event)"
    class="dashboard__body"
  >
    <div class="dashboard__body__items" *ngIf="projects?.length">
      <app-project-card
        (delete)="openDeleteModal(project)"
        (edit)="openCreateModal(project)"
        [project]="project"
        *ngFor="let project of projects"
      ></app-project-card>
    </div>
    <div class="dashboard__body__empty" *ngIf="projects?.length === 0">
      <h4>{{ "PAGES.DASHBOARD.NO_PROJECTS" | translate }}</h4>
      <button (click)="openCreateModal()" mat-button>
        {{ "PAGES.DASHBOARD.CREATE_PROJECT" | translate }}
      </button>
    </div>
  </div>
</div>
