.dashboard {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 300px;
    background-color: var(--main-color);

    & > h1 {
      color: white;
      margin: 0;
    }

    & > button {
      background-color: var(--alt-color);
    }
  }

  &__body {
    padding: 10px;
    height: 100%;
    overflow: auto;

    &__items {
      grid-template-columns: 1fr;
      display: grid;

      @media (min-width: 500px) {
        grid-template-columns: repeat(2, 1fr);
      }

      gap: 10px;
    }

    &__empty {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;
      justify-content: center;
    }
  }
}
