.dashboard {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 24px;
    gap: 10px;
    padding: 30px;
    background-color: var(--main-color);

    @media (min-width: 500px) {
      padding: 50px;
    }

    & > h1 {
      color: white;
      margin: 0;
    }

    & > div {
      display: flex;
      gap: 12px;
      & > button {
        background-color: var(--alt-color);
      }
    }
  }

  &__body {
    padding: 0 24px 24px 24px;
    height: 100%;
    overflow: auto;

    &__items {
      grid-template-columns: 1fr;
      display: grid;

      @media (min-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
      }

      gap: 10px;
    }

    &__empty {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;
      justify-content: center;
    }
  }
}
