<h1 mat-dialog-title>Create response</h1>
<div class="main-content" mat-dialog-content>
  <div class="main-content__form">
    <form [formGroup]="responseForm">
      <mat-form-field>
        <input formControlName="name" matInput placeholder="Name" />
      </mat-form-field>
      <mat-form-field>
        <input
          formControlName="status"
          type="number"
          matInput
          placeholder="Status code"
        />
      </mat-form-field>
      <div>
        <mat-slide-toggle formControlName="enabled">Enabled</mat-slide-toggle>
      </div>
    </form>
    <div
      *ngIf="responseForm.controls.body.invalid"
      class="main-content__form__alert"
    >
      {{ "PAGES.ROUTES.INVALID_JSON" | translate }}
    </div>
  </div>
  <div class="main-content__editor" #editor></div>
</div>
<div mat-dialog-actions>
  <button (click)="dialogRef.close()" mat-button>
    {{ "ACTIONS.CANCEL" | translate }}
  </button>
  <button (click)="handleSave()" mat-button>
    {{ (data.responseData ? "ACTIONS.UPDATE" : "ACTIONS.CREATE") | translate }}
  </button>
</div>
