:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.main-content {
  height: 100%;
  max-height: none;
  display: flex;
  flex-direction: column;
  gap: 24px;

  mat-form-field {
    width: 100%;
  }

  &__editor, &__upload {
    height: 100%;
  }

  &__upload {
    cursor: pointer;
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > mat-icon {
      color: var(--main-color);
      height: 52px;
      width: 52px;
      font-size: 52px;
    }
  }

  &__form {
    &__alert {
      margin-top: 16px;
      color: white;
      background-color: lightcoral;
      box-sizing: border-box;
      padding: 8px;
    }

    &__warning {
      margin-top: 16px;
      color: white;
      background-color: lightsalmon;
      box-sizing: border-box;
      padding: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > button {
        background-color: var(--alt-color);
      }
    }
  }

  & > mat-tab-group {
    height: 100%;
    &::ng-deep {
      .mat-tab-body-wrapper {
        height: 100%;
      }
    }
  }

  & > div {
    width: 100%;
  }
}
