<h1 mat-dialog-title>
  {{
    (data.responseData
      ? "PAGES.ROUTES.EDIT_RESPONSE"
      : "PAGES.ROUTES.CREATE_RESPONSE"
    ) | translate
  }}
</h1>
<div class="main-content" mat-dialog-content>
  <div class="main-content__form">
    <form [formGroup]="responseForm">
      <mat-form-field>
        <input formControlName="name" matInput placeholder="Name" />
      </mat-form-field>
      <mat-form-field>
        <input
          formControlName="status"
          type="number"
          matInput
          placeholder="Status code"
        />
      </mat-form-field>
      <div>
        <mat-slide-toggle formControlName="enabled">{{
          "COMMON.ENABLED" | translate
        }}</mat-slide-toggle>
      </div>
    </form>
    <div *ngIf="newChanges" class="main-content__form__warning">
      <span>{{ "PAGES.ROUTES.NEW_CHANGES" | translate }}</span>
      <button (click)="compareChanges()" mat-button>
        {{ "ACTIONS.COMPARE_AND_SAVE" | translate }}
      </button>
    </div>
    <div
      *ngIf="responseForm.controls.body.invalid"
      class="main-content__form__alert"
    >
      {{ "PAGES.ROUTES.INVALID_JSON" | translate }}
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="JSON">
      <div class="main-content__editor" #editor></div>
    </mat-tab>
    <mat-tab label="File">
      <div class="main-content__upload">

      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions>
  <button (click)="dialogRef.close()" mat-button>
    {{ "ACTIONS.CANCEL" | translate }}
  </button>
  <button (click)="handleSave()" mat-button>
    {{ (data.responseData ? "ACTIONS.UPDATE" : "ACTIONS.CREATE") | translate }}
  </button>
</div>
