.folder-list-item {
  position: relative;
  padding: 16px;
  border-bottom: 1px solid var(--disabled-color);
  background-color: white;
  cursor: pointer;

  &:hover {
    background-color: var(--soft-gray);
  }

  &__content {
    display: flex;
    gap: 12px;

    & > h4 {
      margin-bottom: 0;
    }
  }

  &__placeholder {
    height: 57px;
    background-color: lightgray;
  }
}

.height-fit {
  height: fit-content !important;
}
