<h1 mat-dialog-title>
  {{
    (selectedTab
      ? "PAGES.ROUTES.CREATE_NEW_FOLDER"
      : "PAGES.ROUTES.CREATE_NEW_ROUTE"
    ) | translate
  }}
</h1>
<div class="create-route" mat-dialog-content>
  <mat-tab-group [preserveContent]="true" [(selectedIndex)]="selectedTab">
    <mat-tab [label]="'COMMON.ROUTE' | translate">
      <form [formGroup]="routeForm">
        <mat-form-field>
          <input
            formControlName="name"
            [placeholder]="'COMMON.NAME' | translate"
            matInput
          />
        </mat-form-field>
        <mat-form-field>
          <input
            formControlName="endpoint"
            [placeholder]="'COMMON.ENDPOINT' | translate"
            matInput
          />
        </mat-form-field>
        <mat-form-field>
          <mat-select
            formControlName="method"
            [placeholder]="'COMMON.METHOD' | translate"
          >
            <mat-select-trigger
              ><app-http-chip
                [method]="routeForm.value.method ?? 'get'"
              ></app-http-chip
            ></mat-select-trigger>
            <mat-option [value]="method" *ngFor="let method of methodOptions">
              {{ method }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-slide-toggle formControlName="enabled">{{
          "COMMON.ENABLED" | translate
        }}</mat-slide-toggle>
      </form>
    </mat-tab>
    <mat-tab [label]="'COMMON.FOLDER' | translate">
      <form [formGroup]="routeForm">
        <mat-form-field>
          <input
            formControlName="name"
            [placeholder]="'COMMON.NAME' | translate"
            matInput
          />
        </mat-form-field>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions>
  <button (click)="dialogRef.close()" mat-button>
    {{ "ACTIONS.CANCEL" | translate }}
  </button>
  <button (click)="emitData()" mat-button>
    {{ "ACTIONS.CREATE" | translate }}
  </button>
</div>
