.verification {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--main-font);
    color: var(--main-color);
    height: 100%;
    text-align: center;

    & > img {
      height: 200px;
      margin-bottom: 24px;
    }
  }
}
